<div class="pantry-container">
  <div class="above-table">
    <h1 *ngIf="ui.newItemUnit===false && ui.editItemUnitId < 0">Current Inventory</h1>
    <div *ngIf="ui.pantries.length > 0">
      <div class="add-btn" *ngIf="ui.editItemUnitId < 0">
        <button mat-flat-button color="accent" *ngIf="ui.newItemUnit===false"
        (click)="ui.newItemUnit = true"><mat-icon>add_box</mat-icon>Add New Item</button>
        <button mat-stroked-button color="accent" *ngIf="ui.newItemUnit===true" (click)="ui.newItemUnit = false; ui.loadItemUnits();"><mat-icon>arrow_backward</mat-icon>Inventory Table</button>
        </div>
        <div class="add-btn" *ngIf="ui.editItemUnitId > -1">
          <button mat-stroked-button color="accent" *ngIf="ui.newItemUnit===false"
          (click)="ui.newItemUnit = false; ui.editItemUnitId = -1"><mat-icon>arrow_backward</mat-icon>Inventory Table</button>
        </div>
    </div>
  </div>
    
    <app-add-item *ngIf="ui.newItemUnit===true"></app-add-item>
    <app-edit-item *ngIf="ui.editItemUnitId > -1"></app-edit-item>
    
    <div *ngIf="ui.newItemUnit===false && ui.editItemUnitId < 0" class="table-container">

        <button mat-flat-button color="accent" 
              *ngIf="ui.pantries.length < 1"
              (click)="ui.addPantry({itemIds: []})">
              Create Pantry</button>

        <table mat-table [dataSource]="this.dataSource" class="mat-elevation-z8"
        *ngIf="ui.pantries.length > 0">
          
            <ng-container matColumnDef="image">
              <th mat-header-cell *matHeaderCellDef> Image </th>
              <td mat-cell *matCellDef="let element"> 
                <img src="{{ element.image }}" alt="">
              </td>
            </ng-container>
          
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef> Name </th>
              <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>
          
            <ng-container matColumnDef="weightPerUnit">
              <th mat-header-cell *matHeaderCellDef> Weight Per Serving (g)</th>
              <td mat-cell *matCellDef="let element"> {{element.weightPerUnit}} </td>
            </ng-container>

            <ng-container matColumnDef="caloriesPerUnit">
                <th mat-header-cell *matHeaderCellDef> Calories Per Serving </th>
                <td mat-cell *matCellDef="let element"> {{element.caloriesPerUnit}} </td>
            </ng-container>

            <ng-container matColumnDef="pantryQuantity">
                <th mat-header-cell *matHeaderCellDef> Current Quantity </th>
                <td mat-cell *matCellDef="let element"> {{element.pantryQuantity}} </td>
            </ng-container>

            <ng-container matColumnDef="Edit">
                <th mat-header-cell *matHeaderCellDef> Edit </th>
                <td mat-cell *matCellDef="let element" (click)="openItemUnitEdit(element.id)"><mat-icon>edit</mat-icon></td>
            </ng-container>

            <ng-container matColumnDef="Delete">
                <th mat-header-cell *matHeaderCellDef> Delete </th>
                <td mat-cell *matCellDef="let element" (click)="ui.deleteItemUnit(element.id)">
                <mat-icon color="accent">delete_forever</mat-icon></td>
            </ng-container>
          
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    
        </table>
    
    </div>
</div>