<mat-toolbar class="toolbar" color="primary">

    <span [style.color]="ui.currentPage==='pantry' ? '#BDBDBD' : ''" (click)="ui.setPage('pantry')">Pantry</span>
    <span [style.color]="ui.currentPage==='recipes' ? '#BDBDBD' : ''" (click)="ui.setPage('recipes')">My Recipes</span>

    <div class="right-header">
        <div *ngIf="!ui.loggedIn">
            <span (click)="ui.setPage('login')">Login</span>
            <span (click)="ui.setPage('signup')">Sign Up</span>
        </div>

        <div *ngIf="ui.loggedIn">
            <span [style.color]="ui.currentPage==='profile' ? '#BDBDBD' : ''" (click)="ui.setPage('profile')">My Profile</span>
            <span (click)="ui.logout()">
                Logout
                <!-- <mat-icon color="accent">exit_to_app</mat-icon> -->
            </span>
        </div>
    </div>

</mat-toolbar>