    
<div class="recipe-container">

  <div class="above-table">
    <h1 *ngIf="ui.newRecipe===false && ui.editRecipeId < 0">My Recipes</h1>
    
    <div class="add-btn" *ngIf="ui.editRecipeId < 0">
        <button mat-flat-button color="accent" *ngIf="ui.newRecipe===false"
        (click)="ui.newRecipe = true"><mat-icon>add_box</mat-icon>Add New Recipe</button>
        <button mat-stroked-button color="accent" *ngIf="ui.newRecipe===true"
        (click)="ui.newRecipe = false; ui.loadRecipes();"><mat-icon>arrow_backward</mat-icon>My Recipes</button>
    </div>

    <div class="add-btn" *ngIf="ui.editRecipeId > -1">
      <button mat-stroked-button color="accent" *ngIf="ui.newRecipe===false"
      (click)="ui.newRecipe = false; ui.editRecipeId = -1"><mat-icon>arrow_backward</mat-icon>My Recipes</button>
    </div>
    
  </div>

  <!-- <mat-form-field appearance="fill">
    <mat-label>Recipe Owner</mat-label>
    <mat-select name="usersDropdown" matInput [(ngModel)]="usersDropdown">
        <mat-option [value]="-2">All Recipes</mat-option>
        <mat-option *ngFor="let user of ui.appUsers" [value]="user.id">{{user.username}}</mat-option>
    </mat-select>
  </mat-form-field> -->

    <app-add-recipe *ngIf="ui.newRecipe===true"></app-add-recipe>
    <app-edit-recipe *ngIf="ui.editRecipeId > -1"></app-edit-recipe>
    
    <div *ngIf="ui.newRecipe===false && ui.editRecipeId < 0"
    class="table-container">
    <p *ngIf="this.dataSource.length < 1">No recipes to display</p>
        
        <table *ngIf="this.dataSource.length > 0" mat-table [dataSource]="this.dataSource" class="mat-elevation-z8">
          
            <ng-container matColumnDef="image">
              <th mat-header-cell *matHeaderCellDef> Image </th>
              <td mat-cell *matCellDef="let element"> 
                <img src="{{ element.image }}" alt="">
              </td>
            </ng-container>
          
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef> Name </th>
              <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>
          
            <ng-container matColumnDef="View">
                <th mat-header-cell *matHeaderCellDef> View Recipe </th>
                <td mat-cell *matCellDef="let element" (click)="openRecipeView(element.id)"><mat-icon>open_in_new</mat-icon></td>
            </ng-container>

            <ng-container matColumnDef="Edit">
                <th mat-header-cell *matHeaderCellDef> Edit </th>
                <td mat-cell *matCellDef="let element" (click)="openRecipeEdit(element.id)"><mat-icon>edit</mat-icon></td>
            </ng-container>

            <ng-container matColumnDef="Delete">
                <th mat-header-cell *matHeaderCellDef> Delete </th>
                <td mat-cell *matCellDef="let element" (click)="ui.deleteRecipe(element.id)">
                <mat-icon color="accent">delete_forever</mat-icon></td>
            </ng-container>
          
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    
        </table>
    
    </div>
</div>