.add-btn {
    margin-left: 5vw;
    margin-top: 10px;
    margin-bottom: 10px;
}
.table-container {
    margin-top: 10px;
    margin-left: 5vw;
    margin-right: 5vw;
}
/* table {
    width: 70vw;
}
.mat-column-Delete {
    width: 80px;
}
.mat-column-Edit {
    width: 80px;
} */
.mat-icon {
    cursor: pointer;
}