<h3>Add New Recipe</h3>
<br/>
<div>
    <div *ngIf="recipeCreated===false"  class="container">
        <mat-form-field appearance="fill">
            <mat-label>Recipe Name</mat-label>
            <input name="newRecipeName" matInput 
            [(ngModel)]="newRecipeName" required />
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Recipe Image (url)</mat-label>
            <input name="newRecipeImage" matInput
            [(ngModel)]="newRecipeImage" required />
        </mat-form-field>

        <button mat-fab extended type="submit" color="accent" (click)="createRecipe()">
            Add Ingredients
            <mat-icon>arrow_forward</mat-icon>
        </button>
    </div>

        <div *ngIf="recipeCreated===true"  class="container">
            <mat-form-field appearance="fill">
                <mat-label>Ingredients</mat-label>
                <mat-select name="newRecipeIngredients" matInput
                [(ngModel)]="newRecipeIngredients" multiple required>
                    <mat-option *ngFor="let item of ui.itemUnits" [value]="item.id">{{item.name}}</mat-option>
                </mat-select>
            </mat-form-field>
    
            <div *ngFor="let itemId of newRecipeIngredients">
                <mat-form-field> <!-- style="width: 300px;" -->
                    <mat-label>{{ findName(itemId) }} Needed (g)</mat-label>
                    <input name="newItemInRecipeWeightArr{{itemId}}" matInput type="number"
                    [(ngModel)]="newItemInRecipeWeightArr[itemId]" required />
                </mat-form-field>
            </div>
            
            <mat-form-field appearance="fill">
                <mat-label>Steps</mat-label>
                <textarea name="newRecipeSteps" matInput [(ngModel)]="newRecipeSteps"></textarea>
            </mat-form-field>

            <button mat-fab extended type="submit" color="accent"
            (click)="createItemsInRecipe()">
                <mat-icon>add_box</mat-icon>
                Add Recipe
            </button>

        </div>
</div> 