<mat-card class="card">
    <mat-card-header>
      <h2>Log In</h2>
    </mat-card-header>
    <br>

  <mat-form-field>
    <mat-label>Username</mat-label>
    <input
      matInput
      type="text"
      placeholder="My Username"
      #liUsername
    />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Password</mat-label>
    <input
      matInput
      type="password"
      placeholder="My Password"
      #liPassword
    />
  </mat-form-field>

  <button mat-flat-button color="primary"
  (click)="onLogIn(liUsername.value, liPassword.value)">Log In</button>
  
  <button mat-flat-button color="accent"
  (click)="ui.setPage('signup')">Sign Up</button>
</mat-card>